@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*
* Estilo general
*/

body {
    background-color: rgb(255, 255, 255);
    margin: 120px 0 0 0;
    margin-top: 120px;
    font-family: "Roboto", sans-serif;
}

section {
    scroll-margin-top: 120px; 
}

img {
    max-width: 100%;
}

section {
    padding: 50px 0;
}

section h3 { 
    font-size: 30px;
    margin-bottom: 50px;
    text-align: center;
}

h1, h2, h3 {
    font-family: "Open Sans", sans-serif;
}

strong {
    font-weight: 700;
}

/*
* Header
*/

header  {
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #2046f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    padding: 20px;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #EE3240;
}

header nav ul li a:hover {
    color: grey;
    text-decoration: underline;
}

header nav ul {
    display: flex;
    list-style: none;
}

header .banner {
    width: 350px;
}

header button {
    display: none;
}

@media (max-width: 768px) {

    header nav {
        background-color: white;
        position: absolute;
        left: 0;
        top: 120px;
        width: 100%;
    };

    header nav ul {
        flex-direction: column;
    }

    .oculto {
        display: none;
    }

    header nav ul li {
        text-align: right;
        margin-bottom: 30px;
        padding-right: 30px
    }

    header button {
        background-color: transparent;
        border: 0;
        display: block;
    }

    header button i {
    font-size: 30px;
    }

}

/*
* Main
*/


.Logo {
    height: 250px;
    width: 250px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}


#presentacion h1 {
    color: #2046f8;
    font-size: 30px;
    margin: 0px 50px 0px 50px;
    text-align: center;
}

#presentacion h2 {
    margin: 20px 50px 30px 50px;
    text-align: center;
}

@media (max-width: 768px) {
    #presentacion h1 {
        font-size: 50px;
    }
}

#informacion h3 {
    display: flex;
    background-color: #2046f8;
    color: antiquewhite;
    margin: 10px auto 0;
    text-align: center;
    width: 200px;
    justify-content: center;
    padding: 10px 0;
}

#informacion {
    background-color: rgb(152, 178, 255);
}

#informacion .intro {
    display: flex;
    margin: 10px auto 0;
    text-align: center;
    justify-content: center;
    padding: 10px 0;
    line-height: 50px;
}

#contenedor .contenedor img {
    width: 120px;
    border: 2px solid red;
    height: 90px;
}

#contenedor .contenedor {
    display: flex;
    justify-content: space-around;
}

#contenedor button {
    background-color: #2046f8;
    color: antiquewhite;
    font-size: 20px;
    display: block;
    margin: 50px auto 0;
    padding: 10px 0;
    width: 300px;
    border-radius: 20px;
    border: 0;
}

#contenedor div h4 {
    font-size: 20px;
}

#contenedor .contenedor img {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    max-width: 1200px;
    margin: auto;
}

#contenedor .contenedor div {
    width: 45%;
    padding: 0 20px;
}

#contenedor .contenedor div h4,
#contenedor .contenedor div p {
    text-align: center;
}

#contenedor h3 {
    text-align: center;
    margin: auto;
}

@media (max-width: 900px) {

    #contenedor .contenedor { 
    display: block;
    }

     #contenedor .contenedor div { 
    width: 100%;
    }
}

/*
* Footer
*/

footer .mail {
    text-align: right;
    margin-right: 50px;
    margin-top: -30px;
    display: flex;
    padding: 30px 50px;
    justify-content: right;
}

footer .mail ul {
    list-style: none;
}

footer .mail ul i {
    font-size: 20px;
    color: #2046f8;;
}

footer .mail ul a {
    font-size: 20px;
    color: #2046f8;
    text-decoration: solid;
}

footer .mail ul a:hover {
    opacity: .5;
}

@media (max-width: 768px) {
   
    footer {
        display: block;
    }

    footer .mail {
        padding-left: 0;
    }  

    footer .mail ul {
        padding-left: 0;
    }

}